.btn-toolbar {
    justify-content: center;
}

.project-card .card {
    margin: 0;
    height: 20rem;
}

.img-responsive {
    height: 12rem;
}

.col-md-7 h3 {
  content: "";
  visibility: hidden;
}

.col-md-7 h3:after {
  content: "Образование";
  visibility: visible;
  text-align: left
}

